/*---style---*/

body {
    background-color: rgb(148, 182, 197);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, system-ui;

}

#calculator {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 500px;
    width: 400px;
}

#display {
    background-color: rgb(211, 218, 207);
    display: flex;
    align-items: center;
    justify-content: end;
    width: 380px;
    height: 71px;
    color: black;
    font-size: 48px;
}

.row {
    display: flex;
    justify-content: center;
    width: inherit;
    gap: 5px;
}

button {
    height: 71px;
    width: 90px;
    border-radius: 3px;
    color: black;
    font-size: 32px;
}

button#zero {
    width: 185px;
}

button.number {
    background-color: rgb(172, 172, 172);
}

button.operator {
    background-color: rgb(216, 158, 83);
}

button.func {
    background-color: white;
}